DATABASE_URL=
SALT=
SECRET=
EXPIRES_IN=
KAFKA_BROKERS=
KAFKA_SSL=true
KAFKA_CA_CERT_PATH=
KAFKA_CA_CERT=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_SASL_MECHANISM=plain
KAFKA_COLLECTOR_TOPIC=collector-sync
KAFKA_COLLECTOR_UPDATED_TOPIC=collector-update
KAFKA_ADDRESSES_TOPIC=addresses-sync
